* {
    box-sizing: border-box;
}

.grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

.item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 2em;
    background-color: #DE284F;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 1.25em;
}

.item.cyan {
    background-color: #78FFF1;
}

.item.yellow {
    background-color: #FFFF04;
}

@media (min-width: 600px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1200px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 200px);
    }

    .item.cyan {
        grid-column: 3/4;
        grid-row: 1/4;
    }

    .item.yellow {
        grid-column: 4/6;
        grid-row: 2/4;
    }
}